global_defs {
  vrrp_version {{ hetzner_failover_keepalived_vrrp_version }}
  enable_script_security
  script_user root
}

vrrp_instance hetzner_failover_ip {
{% if not hetzner_failover_keepalived_nopreempt %}
  state {{ hetzner_failover_keepalived_state }}
{% endif %}
  interface {{ hetzner_failover_keepalived_track_device }}
  virtual_router_id {{ hetzner_failover_keepalived_public_virtual_router_id }}
  priority {{ hetzner_failover_keepalived_priority }}
{% if hetzner_failover_keepalived_nopreempt %}
  nopreempt
{% endif %}
  advert_int {{ hetzner_failover_keepalived_advert_int }}

  track_interface {
    {{ hetzner_failover_keepalived_physical_device }}
    dummy0
  }

  notify {{ hetzner_failover_keepalived_notify_script }}

  unicast_src_ip {{ hetzner_failover_keepalived_vswitch_ip }}
  unicast_peer {
    {{ hetzner_failover_keepalived_peer_ip }}
  }

  virtual_ipaddress {
    {{ hetzner_failover_keepalived_public_ipaddress }}/{{ hetzner_failover_keepalived_public_network_prefix }} dev {{ hetzner_failover_keepalived_track_device }}
  }

  virtual_rules {
    from {{ hetzner_failover_keepalived_public_ipaddress }} table {{ hetzner_failover_keepalived_vswitch_routing_table }}
    to {{ hetzner_failover_keepalived_public_ipaddress }} table {{ hetzner_failover_keepalived_vswitch_routing_table }}
  }

  virtual_routes {
    default via {{ hetzner_failover_keepalived_public_default_gateway }} dev {{ hetzner_failover_keepalived_track_device }} table {{ hetzner_failover_keepalived_vswitch_routing_table }}
  }
}

{% if hetzner_failover_keepalived_private_ipaddress is defined %}
vrrp_instance hetzner_private_failover_ip {
{% if not hetzner_failover_keepalived_nopreempt %}
  state {{ hetzner_failover_keepalived_state }}
{% endif %}
  interface {{ hetzner_failover_keepalived_track_device }}
  virtual_router_id {{ hetzner_failover_keepalived_private_virtual_router_id }}
  priority {{ hetzner_failover_keepalived_priority }}
{% if hetzner_failover_keepalived_nopreempt %}
  nopreempt
{% endif %}
  advert_int {{ hetzner_failover_keepalived_advert_int }}

  track_interface {
    {{ hetzner_failover_keepalived_physical_device }}
    dummy0
  }

  notify {{ hetzner_failover_keepalived_notify_script }}

  unicast_src_ip {{ hetzner_failover_keepalived_vswitch_ip }}
  unicast_peer {
    {{ hetzner_failover_keepalived_peer_ip }}
  }

  virtual_ipaddress {
    {{ hetzner_failover_keepalived_private_ipaddress }}/{{ hetzner_failover_keepalived_private_network_prefix }} dev {{ hetzner_failover_keepalived_track_device }}
  }
}
{% endif %}
